@import "styleVars/colors";

.loginForm {
  width: 500px;
  border: 2px solid $white-light;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  background: $black-transparent-lighter;
}

.formField {
  margin: 0 0 20px;
}

.login {
  display: flex;
  flex-direction: column;

  label {
    font-size: 30px;
    margin-bottom: 20px;
  }

  input {
    height: 40px;
    border: none;
    border-radius: 10px;
    padding: 10px;
  }
}

.checkbox {
  line-height: 42px;
}

.formSubmit {
  width: 100%;
  border: 2px solid $white-light;
  border-radius: 10px;
  background: transparent;
  color: $white-light;
  font-size: 1.1em;
  padding: 10px;

  &:hover {
    background: $white-light;
    color: $black-hard;
    cursor: pointer;
  }
}

.error{
  margin-top: 10px;
  color: $red-light;
  font-weight: 600;
}
