.loginForm {
  width: 500px;
  border: 2px solid white;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  background: #0000002e;
}

.formField {
  margin: 0 0 20px;
}

.login {
  display: flex;
  flex-direction: column;

  label {
    font-size: 30px;
    margin-bottom: 20px;
  }

  input {
    height: 40px;
    border: none;
    border-radius: 10px;
    padding: 10px;
  }
}

.checkbox {
  line-height: 42px;
}

.formSubmit {
  width: 100%;
  border: 2px solid white;
  border-radius: 10px;
  background: transparent;
  color: white;
  font-size: 1.1em;
  padding: 10px;

  &:hover {
    background: white;
    color: black;
    cursor: pointer;
  }
}
