.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  height: 100px;
  background: black;
  color: white;
}

.container {
  position: relative;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("/img/background.jpg") left/cover no-repeat;
}

.particlesWrapper {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.content {
  position: relative;
  color: white;
}
