.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  height: 100px;
  background: black;
  color: white;
}

.container {
  flex-grow: 1;
  background: url("../../../assets/img/background.jpg") left/cover no-repeat;
  overflow: hidden;
  position: relative;
}

.particlesWrapper {
  height: 100%;
}

.content {
  position: absolute;
  top: 0;
  width: 100%;
  color: white;
}
