$primary-color: #3d2a8a;

$secondary-color: #0de;

$red-light: #eb5d5d;

$white-light: #fff;
$white-hard: #f8f8f8;

$gray-medium: #b3b3b3;

$black-transparent-lighter: #0000002e;
$black-transparent: #00000099;

$black-light: #252525;
$black-hard: #000;
