* {
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}

button, input {
  font: inherit;
}
